.ddl-wrapper{
    position:relative;
}

.ddl-wrapper.ddl-rtl{
    text-align: right;
}

.ddl-main{
    width:99.5%;
    background:#fff;
    border: 1.5px solid #aaa;
    border-radius: 5px;
    padding:5px 0 5px 5px ;
    position: relative;
}

.ddl-wrapper.ddl-rtl .ddl-main{
    padding: 5px 5px 5px 0;
}

.ddl-wrapper.ddl-open .ddl-main{
    border-radius: 5px 5px 0 0;
}

.ddl-selected-text{
    margin-left:5px;
    max-width: 90%;
    display: block;
}

.ddl-wrapper.ddl-rtl .ddl-selected-text{
    margin-left: 0;
    margin-right:5px;
}

.ddl-arrow{
    height: 26px;
    width: 22px;
    position:absolute;
    right:0;
    top:50.5%;
    margin-top:-13px;
    margin-right:8px;
    cursor: pointer;
}

.ddl-arrow b{
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    height: 0;
    width: 0;
    position: absolute;
    left: 21%;
    top: 35%;
}

.ddl-wrapper.ddl-rtl .ddl-arrow{
    right:initial;
    left:0;
}


.ddl-menu{
    width:99.5%;
    height:222px;
    max-height:222px;
    padding:5px 0 5px 5px;
    display: none;
    background:#fff;
    border:1.5px solid #aaa;
    border-top:none;
    position: absolute;
    z-index:9999;
    text-align: center;
}

.ddl-wrapper.ddl-rtl .ddl-menu{
    padding:5px 5px 5px 0;
}

.ddl-wrapper.ddl-open .ddl-arrow b{
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent #888 transparent;
}

.ddl-wrapper.ddl-open .ddl-menu{
    display: block;
}

.ddl-menu input[type="text"]{
    width:98%;
    margin-left: -5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border:1px solid #ddd;
    outline:none;
    padding-left: 3px;
    height:25px;
}

.ddl-wrapper.ddl-rtl .ddl-menu input[type="text"]{
    text-align: right;
    padding-left:0;
    padding-right:3px;
    margin-left:0;
    margin-right:-5px;
}

.ddl-items-container{
    overflow: auto;
    height:195px;
    max-height: 195px;
    padding-right:2px;
    text-align:center;
}

.ddl-wrapper.ddl-rtl .ddl-items-container{
    direction: rtl;
    padding-right:0;
    padding-left:2px;
}

.ddl-items-container.ddl-no-search{
height:223px;
max-height: 223px;
}

.ddl-menu-item{
    text-align: left;
    width:98%;
    padding:5px 0 5px 5px;
    margin-bottom:2px;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    border-radius: 5px;
    border:1px solid transparent;
    vertical-align: middle;
}

.ddl-menu-item:hover{
    background:#aaa;
    border:1px solid #a59d97;
    color:#fff;    
}

.ddl-menu-item.active{
    background: #337ab7;
    border:1px solid #2e6da4;
    color:#fff;
}

.ddl-menu-item.ddl-hidden{
    display: none;
}

.ddl-wrapper.ddl-rtl .ddl-menu-item{
    text-align: right;
    padding:5px 5px 5px 0;
}

.ddl-menu-item label{
    vertical-align: top;
}
